body {
    font-family: 'Garamond';
    background-color: rgb(253, 227, 231);
    align-items: center;
    justify-content: center;
}

#container{
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    margin-left: 260px;
    margin-top: 50px;
}

.grid{
    border: 2px solid black;
    box-sizing: border-box;
}

#size{
    padding: 10px;
    border-radius: 12px;
    align-items: center;
    font-size: medium;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.heading {
    text-align: center;
}
